.brands-container li a {
  text-decoration: none;
}

.offer-actions-bar a {
  text-decoration: none;
}

.offer-actions-bar a:hover {
  text-decoration: underline;
}

.item-block.item-dragover {
  border-left: 2px dashed gray;
}

.item-block .item-img {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}

.item-block input.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid gray;
  outline: 0;
}

.item-block input.form-control:focus {
  box-shadow: none;
}

div.w3-third {
  padding: 0.5%;
}

.goods-image-wrapper {
  position: relative;
  opacity: 1;
  display: block;
  transition: .1s ease;
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}

/* .goods-image-wrapper img.goods-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .1s ease;
} */

.main-image-checked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.goods-image-wrapper:hover .goods-image {
  opacity: 0.7;
  cursor: pointer;
}

.main-image-checked i {
  font-size: 36px;
}

.main-image-border {
  outline: 2px solid white;
  outline-offset: -2px;
}

.hidden-item-filename {
  display: none;
}

.btn_div button {
  border: none;
  display: inline-block;
  padding: 5px 6px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 10px;
  /* width: 100%;
  margin: 1px; */
  width: 45%;
  margin: 2%;
}

/* ------------------------- Dragon's account infos ---------------------------
G-Mail:
jamesroydev@gmail.com
YTs9J4qpOQBot3nWKqBF

Github:
jamesroydev@gmail.com
YTs9J4qpOQBot3nWKqBF
SuperGoldenDragon

Outlook:
goldendragon5789@outlook.com
$$NomoneyNopain9875

Skype:
goldendragon5789@outlook.com
$$NomoneyNopain9875 */